
<div class = "container">


  <h1>StarWar Search</h1>

  <form #starForm="ngForm" (ngSubmit) = "onSubmit()" >
    
    <div class="form-group">
        <label for="StarWar">StarWar Search: </label>
    
        <select class="form-control" id="star" required  [(ngModel)]="option" name = "name" >
          <option *ngFor="let choice of options" [value]="choice">{{choice}}</option>
        </select>

        <select class="form-control" required  [(ngModel)]="id" name = "name" >
          <option *ngFor="let index of id_options" [value]="index">{{index}}</option>
        </select>

        <!-- <button type="submit" class="btn btn-success">Submit</button> -->
        <input type = submit value =Submit>
      </div>      
  </form>
</div>

<app-people-item [inputResult] = "starWar"></app-people-item>
